@{
    ViewData["Title"] = "Register";
}

<div class="d-flex justify-content-center pt-5">
    <div class="w-50 shadow bg-body p-5" style="border-radius: 8px">
        <h3 class="text-info">Employee Management</h3>

        <form class="mt-4">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
            </div>

            <div class="mb-3">
                <label for="rePassword" class="form-label">Confirmation password</label>
                <input type="password" class="form-control" id="rePassword">
            </div>

            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
</div>